* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}
.faq-container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1b1b2f;
  color: #fff;
}
.faq-container h2 {
  text-align: center;
  font-size: 2.5rem;
}

.faq-accordion {
  width: 90%;
  margin: 2rem auto;
}
.faq-accordion-item {
  background-color: #162447;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.faq-accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.faq-accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.faq-accordion-item-header.active::after {
  content: "\2212";
}
.faq-accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faq-accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  text-align: left;
}

@media (max-width: 767px) {
  .faq-container {
    font-size: 14px;
  }
}
